<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
	<title>HTML Project</title>
</head>

<body>
	<!--Header(start)-->
	<table id="header" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="yellow">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td>
							

						</td>

						<td>
							<font face="Comic sans MS" size="6">
								<b>MANIKANTA DCS</b>
							</font>
						</td>

						<td width="15%">
							
						</td>

						<td>
							<a href="#home" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									Home
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="#about" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									About
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="#projects" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									Projects
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="#achievements" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									Achievements
								</font>
							</a>
						</td>

						<td>
							|
						</td>

						<td>
							<a href="#contact" style="text-decoration:none">
								<font face="Verdana" size="5" color=black>
									Contact
								</font>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Header(end)-->

	<!--Home(start)-->
	<table id="home" border="1" width="100%"
		cellpadding="20" cellspacing="0" bgcolor="grey">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="90%" align="center">
					<tr>
						<td align="center" valign="middle">
							<h3>
								<font face="Times New Roman"
									size="6" color="black">
								   HELLO MENTORS
								</font>
							</h3>

							<h2>
								<font face="Verdana" size="6"
									color="#4CAF50">
									<!-- Freelance Programmer -->
								</font>
							</h2>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Home(end)-->


	<!--About(start)-->
	<table id="about" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="black">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center"
							valign="middle" colspan="2">
							<font face="Verdana" size="7"
								color="yellow">
								About Me
							</font>
							<hr color="yellow" width="90">
						</td>
					</tr>

					<tr>
						

						<td width="60%">
							<font face="Verdana" size="4"
								color="white">
								Thanks for your interest, here
								is a quick story of me and this
								website.
								<hr color="black">
								Hello guys,This is Manikanta.I am an enthusiastic,curious person eager to learn,I usually explore vibrant things .predomenently I am intrested in acquiring facts through motivational talks of GuruGopalDas.followed by technical things such as web development,python these  are the things were I found my intrest in.My short term goal is to get placed in good Reputed MNC company.Presently I am running to reach it.
								<hr color="black">

						
							
								<hr color="black">

								This website is basically one of my
								Web Development Assignment which is
								built using HTML,CSS.
							

								
								<hr color="black">
								
								<br>
								<b>Thanks for your valuable time and consideration</b>
							</font>
						</td>
					</tr>
				</table>
				<hr color="black">
				<hr color="black">
				<hr color="black">
			</td>
		</tr>
	</table>
	<!--About(end)-->


	<!--Projects(start)-->
	<table id="projects" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="grey">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center"
							valign="middle" colspan="2">
							<font face="Verdana" size="7"
								color="black">
								Projects
							</font>
							<hr color="black" width="90">
						</td>
					</tr>

					<tr>
						<td height="10">
							<font face="Times New Roman"
								size="5" color="black">
								<ul>
									<li>
                   
                    ONLINE REAL ESTATE DATABASE
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
                    FILE ALLOCATION METHOD
          
										<a href="#" style="text-decoration:none"
											color="black">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										EXTRACTION OF BLOOD VESSEL FROM THE RETINAL VASCULAR TREE
 										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										AMERICAN SIGN LANGUAGE RECOGNITION USING HAND GESTURES
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										VISION BASED ROAD LANE DETECTION SYSTEM FOR VECHICLES
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									<li>
										<hr color="#c2c0c3">
										SECURE FILE STORAGE USING HYBRID CRYPTOGRAPHY
ALGORITHM
										<a href="#" style="text-decoration:none">
											 ➲
										</a>
									</li>

									

									
									

									

									

									

									
								</ul>
								
							</font>
						</td>

						
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Projects(end)-->

	<!--Achievement(start)-->
	<table id="achievements" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="black">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center" valign="middle">
							<font face="Verdana" size="7" color="yellow">
								Achievements
								<hr color="yellow" width="100">
							</font>
						</td>
					</tr>

					<tr>
						<td>
							<font face="Verdana" size="4" color="white">
								<ul>
                  <li>
										<b>AWS Academy Graduate - AWS Academy Cloud
                      Foundations.</b>
									</li>
									<li>
									
									<b>Understanding and Visualizing Data with Python</b>
									</li>
                  <li>
									
                    <b>Machine Learning for all</b>
                    </li>
                    <li>
									
                      <b>Team Newton School</b>
                    </li>

									<li>
										<hr color="black">
										<hr color="black">
										<hr color="black">
									
								
									</li>

									

								</ul>

							</font>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Achievement(end)-->


	<!--Contact(start)-->
	<table id="contact" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="#c2c0c3">
		<tr>
			<td>
				<table border="0" cellpadding="15"
					cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center"
							valign="middle" colspan="2">
							<font face="Verdana" size="7"
								color="black">
								Contact
							</font>
							<hr color="black" width="90">
						</td>
					</tr>

					<tr>
						<td align="center" valign="top">
							<table border="0" width="50%" cellpadding="15"
								cellspacing="0" align="center" bgcolor="black">
								<tr>
									<td width="30%">
										<hr color="black">
										<font face="Verdana" size="4"
											color="#ffffff">
											Name
										</font>
									</td>
									<td width="70%">
										<font face="Verdana" size="4"
											color="#ffffff">
											<input type="text" size="40">
										</font>
									</td>
								</tr>
								<tr>
									<td width="30%">
										<font face="Verdana" size="4"
											color="#ffffff">
											Email
										</font>
									</td>
									<td width="70%">
										<font face="Verdana" size="4"
											color="#ffffff">
											<input type="email" size="40">
										</font>
									</td>
								</tr>
								<tr>
									<td width="30%">
										<font face="Verdana" size="4"
											color="#ffffff">
											Number
										</font>
									</td>
									<td width="70%">
										<font face="Verdana" size="4"
											color="#ffffff">
											<input type="phonenumber" size="12">
										</font>
									</td>
								</tr>
								<tr>
									<td width="30%">
										<font face="Verdana" size="4"
											color="#ffffff">
											Message
										</font>
									</td>
									<td width="70%">
										<font face="Verdana" size="4"
											color="#ffffff">
											<textarea rows="5"
												cols="37">
											</textarea>
										</font>
									</td>
								</tr>
								<tr>
									<td width="30%">
										
									</td>
									<td width="70%">
										<button type="Submit">
											<font face="Verdana"
												size="4" color="black">
												<b>Submit</b>
											</font>
										</button>
										<hr color="black">
										<hr color="black">
									</td>
								</tr>
							</table>
						</td>

					</tr>
					<tr>
						<td colspan="2">
							
							
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--Contact(end)-->


	


</body>

</html>
